article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: blue;
    padding: 10px;
    margin: 0;
}

body{
    margin: 0;
    background-color: aliceblue;
}

h1{
    margin: 0;
    font-size: 36pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    margin: 0;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    font-size: 20pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    font-size: 18pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#texto-foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li{
    font-size: 18pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#titulos{
    padding: 30px;
    width: 500px;
}

#tituloCentral{
    display: flex;
}

section{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.112);
    margin: 5px;
    border-radius: 6px;
}

#but-sobre{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 13pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#but-contato{
    background-color: rgb(255, 133, 12);
    border: none;
    border-radius: 8px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 13pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#fotomy{
    border-radius: 50%;
    width: 180px;
    height: 200px;

}

#div-eu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: end;
}

span{
    font-size: 19pt;
}

#whats{
    background-color: rgba(0, 0, 255, 0.58);
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: white;
    width: 120px;
    height: 60px;
    margin-left: 6px;
    font-size: 15pt;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#whats:hover{
    background-color: rgb(0, 0, 255);
}

#linkedin{
    background-color: rgba(0, 0, 255, 0.58);
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 120px;
    height: 60px;
    margin-left: 6px;
    color: white;
    cursor: pointer;
    font-size: 15pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#linkedin:hover{
    background-color: rgb(0, 0, 255);
}

#contato{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sec-wordpress{
    margin: 0%;
    background: linear-gradient( rgb(255, 133, 12), aliceblue);
    margin-top: 10px;
}

#h1-wordpress{
    background-color:rgb(255, 133, 12);
    padding: 30px;
    margin-top: 20px;
    color: white;
}

@media screen and (max-width:680px) {
    img{
        width: 100%;
        height: auto;
    }

    section{
        width: 360px;
        height: auto;
    }

    #sec-contato{
        width: 400px;
    }

    li{
        text-align: justify;
    }
}